html {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgba(123, 104, 238, 0.4);
  border-radius: 30px;
}

h1{
  color: black;
  font-family: "Berkshire Swash";
  margin: 20px;
  padding: 20px 0;
  color: black;
  /* text-shadow: 3px 3px 1px black; */
  text-align: center;
}

p, li {
  color: black;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  font-family: "Berkshire Swash";
  font-size: 22

}

img {
  margin: 20px auto;
  border-radius: 30px;
  display: block;
}

a{
  color: black;
}

#button {
  background-color: rbga(red,0.6);
  width : 80px;
  padding :20px;
  margin : 0 auto;
}

#button:hover{
  background-color:blue;
  cursor: pointer;
  border-radius: 30px
}


}
